<h1><%= pluralize(@projects.count, 'Project') %></h1>

<% @projects.each do |project| %>
    <article>
        <%= link_to(project_path(project)) do %>
          <h1><%= project.name %></h1>
        <% end %>
        <p> <%= truncate(project.description, length: 150, separator: ' ') %> </p>
        <dl>
            <dt>Price:</dt>
            <dd><%= number_to_currency(project.target_pledge_amount)  %></dd>
            <dt>Website:</dt>
            <dd><%= project.website %></dd>
            <dt>Pleding Ends On:</dt>
            <dd><%= format_end_date(project) %></dd>
        </dl>
    </article>
<% end %>
