<h1><%= pluralize(@projects.count, 'Project') %></h1>

<% @projects.each do |project| %>
        <h2><%= project.name %></h2>
        <p>
            <%= truncate(project.description, length: 20, separator: ' ') %>
        </p>
    <ul>
        <li><strong>Target Pledge Amount: </strong><%= number_to_currency(project.target_pledge_amount) %></li>
        <li><strong>Project Website: </strong><%= project.website %></li>
        <li><strong>Pledge Ends On: </strong><%= project.pledging_ends_on %></li>
    </ul>
<% end %>
