<h1>Projects</h1>

<% @projects.each do |project| %>
    <article>
        <h1><%= project.name %></h1>
        <p> <%= project.description %> </p>
        <dl>
            <dt>Price:</dt>
            <dd><%= number_to_currency(project.target_pledge_amount)  %></dd>
            <dt>Website:</dt>
            <dd><%= project.website %></dd>
            <dt>Pleding Ends On:</dt>
            <dd><%= project.pledging_ends_on %></dd>
        </dl>
    </article>
<% end %>
