<article>
    <h1><%= @project.name %></h1>
    <%= image_for @project %>

    <p><%= @project.description %></p>

    <h2>Team Members</h2>
    <p><%= @project.team_members %></p>

    <h2>Traget Pledge Amount</h2>
    <p><%= number_to_currency(@project.target_pledge_amount) %></p>

    <h2>Website</h2>
    <p><%= @project.website %></p>

    <h3>Pledging Ends</h3>
    <p><%= format_date(@project) %></p>
</article>

<nav>
    <%= link_to 'Edit Project', edit_project_path %> |
    <%= link_to 'Delete Project', project_path(@project), method: :delete, data: {confirm: 'Are you sure you want to delete this project?'} %>
</nav>
